// mixins and functions are similar,
// but functions are used to return values,
// while mixins define styles


@use 'variables' as var;
@use 'resets' as reset;

// scrollbar customisation
::-webkit-scrollbar-track {
  background: var.$dark;
}
::-webkit-scrollbar-thumb {
  background-color: var.$off-gray;
  border-radius: 20px;
}
::-webkit-scrollbar {
  width: 12px;
}

body {
  font-size: 16px;
  color: var.$light;
  background: var.$dark;
  font-family: var.$roboto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &::after {
    @include var.block(40px, var.$off-gray);
  }

  &::before {
    @include var.block(50px, var.$sea-green);
  }
}

.🍱 {
  gap: 2rem;
  padding: 1rem;
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  grid-auto-flow: column;
  grid-template-areas:  "head head head head"
                        "main main main aside"
                        "foot foot foot foot";

  @media (max-width: 1024px) {
    grid-template-areas:  "head"
                          "main"
                          "aside"
                          "foot";
  }
}

.🗿 {
  grid-area: head;

  h1 {
    line-height: 1;
    text-align: center;
    color: transparent;
    margin-bottom: 2rem;
    font-size: clamp(8vw, 9rem, 30vw);
    @include var.heading-theme($light-theme: false);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: cover;
  }
}

.🌍 {
  grid-area: main;
}

.🖊️ {
  p {
    margin-bottom: 2rem;
  
    &:nth-child(1) {
      font-weight: var.weight('Thin');
    }
    &:nth-child(2) {
      font-weight: var.weight('ExtraLight');
    }  
    &:nth-child(3) {
      font-weight: var.weight('Light');
    }  
    &:nth-child(4) {
      font-weight: var.weight('Regular');
    }  
    &:nth-child(5) {
      font-weight: var.weight('Medium');
    }  
    &:nth-child(6) {
      font-weight: var.weight('SemiBold');
    }  
    &:nth-child(7) {
      font-weight: var.weight('Bold');
    }  
    &:nth-child(8) {
      font-weight: var.weight('ExtraBold');
    }  
    &:nth-child(9) {
      font-weight: var.weight('Black');
    }
  }
}

.📷 {
  float: right;
  margin: 0 0 1rem 1rem;
  width: clamp(160px, 30vw, 450px);

  // can use this in place of media query
  @include var.mobile {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 1rem;
  }
}

.📚 {
  width: 100%;
  padding: 1rem;
  grid-area: aside;
  text-align: right;
  height: min-content;
  border-radius: 0.2rem;
  @include var.card-gradient;
  box-shadow: 10px 10px 10px rgba(var.$off-gray, 0.4);
  
  li {
    list-style: none;
    margin-right: 1rem;

    &::after {
      content: '⦾';
      margin-left: .69rem;
    }
  }
}

.light {
  @include var.theme($light-theme: false);
}